<!DOCTYPE html>
<html>
	<head>
		<title>登陆</title>
		<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
		<meta charset="utf-8">
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.js">
		</script>
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body style="background-color: #f9f9f9">
		<div class="container-fluid">
			<div class="center-block" style="width: 300px">
			<h1 class="text-center" style="font-size: 50px"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span></h1>
			<p class="lead text-center">登入到Blog</p>	
			<div class="panel panel-default">
				<div class="panel-body">
					<form>
						<div class="form-group">
							<label for="exampleInputEmail1">用户名</label>
							<input name="username" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">密码</label>
							<input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
						</div>
						<button type="submit" class="btn btn-success btn-block">登陆</button>
					</form>`
				</div>
			</div>
			<div class="well">
				你是新用户吗？<a href="">点击创建一个账号</a>
			</div>	
			</div>
		</div>
	</body>
</html>