<p>
    Please scan the qrcode using the auth APP in your cellphone.The qrcode will be in effect untill 2 min later.
</p>

<img src="data:image/jpg;base64,{{captcha}}"/>

<form id="auth" action="{% url 'isc_auth:auth_redirect' api_hostname identifer%}" method="GET"></form>
<form id="renew" action="{% url 'isc_auth:bind_device' api_hostname identifer%}" method="GET">    
</form>


<script type="text/javascript">


window.onload = function() {
    var url_check = "{% url 'isc_auth:check_bind' api_hostname identifer%}";
    ajax(url_check,onSuccuess)   
}



function onSuccuess(data) {
    str = JSON.parse(data);
    if(str.status == "pending"){
        document.getElementById("renew").submit();
    }else if(str.status == "ok"){
        document.getElementById("auth").submit();

    }
}

function ajax(url, fnSucc, fnFaild){
    //1.创建对象
    var oAjax = null;
    if(window.XMLHttpRequest){
        oAjax = new XMLHttpRequest();
    }else{
        oAjax = new ActiveXObject("Microsoft.XMLHTTP");
    }    
    //2.连接服务器  
    oAjax.open('GET', url, true);   //open(方法, url, 是否异步)    
    //3.发送请求  
    oAjax.send();   
    //4.接收返回
    oAjax.onreadystatechange = function(){  //OnReadyStateChange事件
        if(oAjax.readyState == 4){  //4为完成
            if(oAjax.status == 200){    //200为成功
                fnSucc(oAjax.responseText) 
            }else{
                if(fnFaild){
                    fnFaild();
                }
            }
        }
    };
}
</script>
